@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
// colors
$sov-red: #730D12;
$usa-blue: #0A305C; 
$bg-color: #ABABA1;
$washed-black: #171B26;

// fonts
h1, h2 {
  font-family: "Russo One", sans-serif;
  color: $washed-black;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 12;
  font-weight: bold;
}
